h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 220201098-02. Proponer acciones socio ambientales según normativa y concertación con comunidad étnica