.container#historia

    .header-ecored
        h1 1. Comunidades étnicas

    section.mt-5.pt-5
        .row.mt-5.pt-5.justify-content-center
            .col-10
                .card.bg-color1
                    .card-body.text-center
                        .avatar.avatar-super.card-avatar.card-avatar-top
                            img(src="assets/images/pages/img1.png").avatar-img
                        p.text-white.text-left.mt-4 La interacción del hombre con el medio ambiente, ha causado daños irreparables a los ecosistemas, afectando el equilibrio y padeciendo las consecuencias que año tras año se presentan. Las comunidades étnicas a través de sus conocimientos ancestrales, se han convertido en guardianes de la naturaleza siendo los protagonistas en su cuidado, gracias a la constitución política de 1991, que reconoce y garantiza derechos fundamentales de las minorías étnicas. Hoy por hoy el rol de las comunidades se ha fortalecido, gracias a que se ha diseñado un marco normativo que permite a actores internos o externos de una comunidad fijar de manera concertada los planes y proyectos.
    
    br#grupos

    .header-ecored
        h2 1.1 Grupos étnicos y organización
    
    .card.shadow
        img(src="assets/images/pages/img2.png", style="max-width: 100%").img-fluid
        .card-body.bg-color2
            p Los grupos étnicos hacen parte de nuestro territorio colombiano, reconocidos a través de la Constitución Política de 1991. Se define como Etnia, a un grupo o comunidad con características culturales y sociales propias, que están estrechamente ligadas a lo largo de su historia, como sujetos colectivos que permiten identificar a sus miembros como pertenecientes a su cosmovisión a través de su ascendencia y convivencia en territorio y organización.
            p.mt-4 La organización hace referencia a entidades con intereses y valores determinados que agrupa y representa a los pueblos, dentro de sus funciones se encuentra fortalecer y apoyar el gobierno propio, ejercer autoridad con autonomía en su territorio y la defensa de sus derechos humanos y colectivos. (Resguardos o cabildos en comunidades indígenas), (Consejos comunitarios en comunidades negras, afrocolombianas, raizales o palenqueras afros) y (Kumpañy en el pueblo rom).
    
    br#cosmovision

    .header-ecored
        h2 1.2 Cosmovisión
    
    .jumbotron.bg-white.shadow
        p La interacción que el ser humano instaura con su ambiente social, cultural, espiritual, religioso y ecológico se le denomina Cosmovisión. Al ser una manera de interpretar el mundo, los hombres pueden expresar relaciones con sus dioses, establecer un orden jerárquico del cosmos, guiar la concepción del cuerpo humano, además, con esta base de interpretaciones, logra estructurar la vida comunitaria y agruparlas con base a los mitos que explican su origen.
        img(src="assets/images/pages/img3.png", style="max-width: 100%").img-fluid.img-a
        p En este sentido, la cosmovisión Étnica sitúa su origen en la naturaleza, debido a que ella provee los instrumentos para la subsistencia, además permite los medios de vida y posteriormente la producción de su vida material y reproducción, esto se puede comprobar mediante la organización corpórea y física de los seres humanos. Siendo así, es una retribución simbólica la que se realiza con la veneración por el espacio habitado. Por ello el eje fundamental de los pueblos originarios es el territorio, identificando a quienes lo habitan generando así un orden social. Dentro de la visión de territorio no existe separación entre naturaleza y cultura, de este modo logra confluir intereses comunes, a diferencia de la visión occidental.

    br#enfoque

    .header-ecored
        h2 1.3 Enfoque diferencial étnico-normatividad
    
    .jumbotron.bg-white.shadow
        p Enfoque Diferencial Étnico (EDE), se define como el conjunto de acciones que reducen la brecha existente entre los diferentes segmentos de la población, con el objeto de garantizar la superación de la exclusión social, política, desigualdad económica, y riesgo de las poblaciones ante el conflicto armado. Dichas acciones imparten algunos lineamientos particulares que deben adoptar las instituciones para guiar a sus funcionarios, con el objetivo de brindar una atención y protección oportuna que den garantía a sus derechos.
        p Las normas que se relacionan a continuación, hacen referencia al reconocimiento de los grupos étnicos y son base primordial en la construcción del Enfoque Diferencial Étnico.
        .row.justify-content-center.px-sm-2.px-md-5.py-5
            .col-12.col-md-10
                section
                    .timeline-card-wrapper.tl--borders.pt-5
                        .timeline-card
                            .timeline-card__head
                                h3 1989
                            .timeline-card__body
                                p #[b Convenio OIT # 169]
                                p El convenio tiene dos postulados básicos: el derecho de los pueblos indígenas a mantener y fortalecer sus culturas, formas de vida e instituciones propias, y su derecho a participar de manera efectiva en las decisiones que les afectan.
                                section
                                    .row.justify-content-center
                                        .col-auto
                                            a(href="https://www.ilo.org/wcmsp5/groups/public/---americas/---ro-lima/documents/publication/wcms_345065.pdf" target="_blank").media-link
                                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                                .media-link-title
                                                    p Convenio núm. 169 de la OIT sobre pueblos indígenas y tribales
                        .timeline-card
                            .timeline-card__head
                                h3 1991
                            .timeline-card__body
                                p #[b  Constitución Política de Colombia]
                                p #[b Art. 7]: reconocimiento del Estado y las comunidades étnicas.
                                p #[b Art. 10]: trata del reconocimiento oficial de los idiomas, tanto el del estado como el de los grupos étnicos y el respeto de cada uno.
                                p #[b Art. 13]: hace referencia al derecho a la libertad, la protección bien sea de autoridades civiles o  militares sin ningún tipo de discriminación.
                                p #[b Art. 63]: Se refiere a la protección de la raza, bienes y naturaleza como patrimonio del Estado.
                                p #[b Art. 68]: Respeto a los de derecho de  respeto de la identidad cultural.
                                section
                                    .row.justify-content-center
                                        .col-auto
                                            a(href="https://pdba.georgetown.edu/Constitutions/Colombia/colombia91.pdf" target="_blank").media-link
                                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                                .media-link-title
                                                    p Constitución politica de Colombia 1991
                        .timeline-card
                            .timeline-card__head
                                h3 2011
                            .timeline-card__body
                                p #[b Decreto - Ley 4633]
                                p Por medio del cual se dictan medidas de asistencia, reparación integral y restitución de derechos territoriales a las víctimas pertenecientes a los pueblos y comunidades indígenas.
                                section.mb-4
                                    .row.justify-content-center
                                        .col-auto
                                            a(href="http://www.secretariasenado.gov.co/senado/basedoc/decreto_4633_2011.html" target="_blank").media-link
                                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                                .media-link-title
                                                    p Decreto-ley 4633 de 2011
                                p #[b Decreto - Ley 4634]
                                p Por medio del cual se dictan medidas de asistencia, reparación integral y restitución de derechos territoriales a las víctimas pertenecientes el pueblo rom o gitano.
                                section.mb-4
                                    .row.justify-content-center
                                        .col-auto
                                            a(href="http://www.secretariasenado.gov.co/senado/basedoc/decreto_4634_2011.html" target="_blank").media-link
                                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                                .media-link-title
                                                    p Decreto-ley 4634 de 2011
                                p #[b Decreto - Ley 4635]
                                p Por medio del cual se dictan medidas de asistencia, reparación integral y restitución de derechos territoriales a las víctimas pertenecientes a comunidades negras, afrocolombianas, raizales y palenqueras.
                                section
                                    .row.justify-content-center
                                        .col-auto
                                            a(href="http://www.secretariasenado.gov.co/senado/basedoc/decreto_4635_2011.html" target="_blank").media-link
                                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                                .media-link-title
                                                    p Decreto-ley 4635 de 2011
                        .timeline-card
                            .timeline-card__head
                                h3 2016
                            .timeline-card__body
                                p #[b Acuerdo 010]
                                p Por medio del cual se adopta la política de atención con enfoque pluralista y diferencial en el SENA.
                                section
                                    .row.justify-content-center
                                        .col-auto
                                            a(href="http://normograma.sena.edu.co/normograma/docs/acuerdo_sena_0010_2016.htm" target="_blank").media-link
                                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                                .media-link-title
                                                    p Acuerdo 10 de 2016