.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td International Council on Mining y Metals -ICMM. (2015). Guía de buenas prácticas para pueblos indígenas y la minería.
                    td Sitio web
                    td 
                        a(href="https://guidance.miningwithprinciples.com/good-practice-guide-indigenous-peoples-and-mining/tool-10-making-agreements/?lang=es", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Ministerio de Cultura. (2010). Compendio de políticas culturales. Obtenido de Política de concertación.
                    td Pdf
                    td 
                        a(href="https://www.mincultura.gov.co/ministerio/politicas-culturales/politica-de-concertacion/Documents/14_politica_concertacion.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Areizaga, M., & Mendia, I. (2005-2006). Diccionario de Acción Humanitaria y cooperación al desarrollo.
                    td Sitio web
                    td 
                        a(href="http://www.dicc.hegoa.ehu.es/listar/mostrar/190", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver