include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("G, J. A. (2008). Manual de Evaluación de Impacto Ambiental de Proyectos, Obras o Actividades.", "https://es.slideshare.net/eliaalejo1/manual-eia-jorge-arboleda-1")

        +referenciaItem("Gómez, E., Vásquez, G., Betancur, V., Martínez, D., Ocampo, M., Uribe, E., & Arcos, A. (2015). Diálogo de saberes e interculturalidad- Indígenas, Afrocolombianos y Campesinado en la ciudad de Medellín. Medellín: Pulso y Letra Editores.", "")

        +referenciaItem("Oficina del Alto Comisionado para la Paz. (2018). Guía para facilitar procesos de diálogo social 'Diálogos Constructivos'.", "http://www.altocomisionadoparalapaz.gov.co/Documents/Dialogos-constructivos-5.pdf")

        +referenciaItem("Programa de las Naciones Unidas para el Desarrollo- PNUD. (2011). Pueblos indígenas Diálogo Entre Culturas.", "https://www.co.undp.org/content/colombia/es/home/library/human_development/pueblos-indi_genas---dialogo-entre-culturas.html")

        +referenciaItem("Programa de las Naciones Unidas para el Desarrollo-PNUD. (2014). Procedimiento de Diagnóstico Social y Ambiental.", "https://www.undp.org/content/dam/undp/library/corporate/Social-and-Environmental-Policies-and-Procedures/UNDP-Social-Environmental-Screening-Procedure-SPANISH-1January2015.pdf.pdf")

        +referenciaItem("Ravanal, V. M. (2006). El enfoque Comunitario. Estudio de sus modelos de base.", "http://repositorio.uchile.cl/bitstream/handle/2250/122235/martinez-ravanal_el-enfoque-comunitario.pdf?sequence=1&isAllowed=y")

        +referenciaItem("Sterimberg, E. G., Sánchez, C. Z., Forero, A. C., & J., J. C. (2004). Diseño de un sistema de indicadores socioambientales para el distrito capital de Bogotá.", "https://core.ac.uk/download/pdf/7082118.pdf")

        +referenciaItem("UNESCO. (2012). Manual de investigación cultural comunitaria.", "https://unesdoc.unesco.org/ark:/48223/pf0000228336")